<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.srusso.usrealsanfelice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".notifacation.RegistrationIntentService"
            android:exported="false" />
        <service
            android:name=".notifacation.FCMMessageHandler"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RosaActivity"
            android:label="@string/title_activity_rosa"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.srusso.usrealsanfelice.HomeActivity" />
        </activity>
        <activity
            android:name=".DettaglioGiocatoreActivity"
            android:parentActivityName=".RosaActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.srusso.usrealsanfelice.RosaActivity" />
        </activity>
        <activity
            android:name=".ConvocatiActivity"
            android:label="@string/title_activity_convocati"
            android:launchMode="singleTop"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.srusso.usrealsanfelice.HomeActivity" />
        </activity>
        <activity
            android:name=".GalleryActivity"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.srusso.usrealsanfelice.HomeActivity" />
        </activity>
        <activity
            android:name=".DatiActivity"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.srusso.usrealsanfelice.HomeActivity" />
        </activity>
        <activity
            android:name=".NewsDettaglioActivity"
            android:label="@string/title_activity_news_dettaglio"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.srusso.usrealsanfelice.HomeActivity" />
        </activity>
    </application>

</manifest>